arrow==1.2.2
autopep8==1.6.0
beautifulsoup4==4.11.1
black==22.3.0
bleach==5.0.0
bs4==0.0.1
build==0.7.0
cachetools==5.2.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
commonmark==0.9.1
dhapi==1.1.0
docutils==0.18.1
Flask==2.2.1
google-auth==2.10.0
google-auth-oauthlib==0.5.2
gspread==5.4.0
gspread-formatting==1.0.6
gunicorn==20.0.4
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==23.5.0
libsixel-python==0.5.0
MarkupSafe==2.1.1
mypy-extensions==0.4.3
oauthlib==3.2.0
packaging==21.3
pathspec==0.9.0
pep517==0.12.0
Pillow==9.1.0
pkginfo==1.8.2
platformdirs==2.5.1
pocket==0.3.6
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyee==9.0.4
pyfiglet==0.8.post1
Pygments==2.11.2
pyparsing==3.0.7
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-resize-image==1.1.20
rainbowstream==1.6.0
readme-renderer==34.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resize-image==0.4.0
rfc3986==2.0.0
rich==12.2.0
rsa==4.9
six==1.16.0
slackeventsapi==3.0.1
soupsieve==2.3.2
toml==0.10.2
tomli==2.0.1
twine==4.0.0
twitter==1.19.3
typing_extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.2.1
zipp==3.8.0
